td{
    height: 76px;
    width: 79px;
    border: 1px solid white;
    background-color: #f2f2f2;
    text-align: center;}/*Add your CSS below!*/
table{
    
    height: 656px;
width: 372px;
}
th{
	height: 54px;
    width: 372px;
	background-color: #80c783;
	color: #fdfbee;
}

#del{
	background-color: #f40057;
	color: #fcfaff;
}
#equal{
	background-color: #80c783;
	color: #fffff6;
}
.fa fa-bars{
	padding: fixed;
	top: 0%;
	left: 0%; 
}